<div class="container py-5">
  <div class="row">
    <div class="col-12 col-lg-10 mx-auto">
    <h5 class="text-black-50">この投稿のグループ</h5>
    <p class="text-black-50">
      <%= link_to @post.group.name, group_path(@post.group) %>
    </p>

    <h5>投稿者</h5>
    <p><%= link_to @post.user.name, @post.user == current_user ? mypage_path : user_path(@post.user) %></p>

    <h2>タイトル</h2>
    <p><%= @post.title %></p>

    <h2>本文</h2>
    <p><%= @post.body %></p>

    <h2>画像</h2>
    <% if @post.image.attached? %>
      <%= image_tag @post.image.variant(resize_to_limit: [500, 500]).processed, class: 'img-fluid' %>
    <% else %>
      <%= image_tag 'no_image.jpg', class: 'img-fluid' %>
    <% end %>

    <% if @post.user == current_user %>
      <div class="my-3">
        <%= link_to "編集", edit_post_path(@post.id), class: 'btn btn-outline-secondary' %>
        <%= link_to "削除", post_path, method: :delete, data: {confirm: '本当に削除してもよいですか？'}, class: 'btn btn-outline-danger' %>
      </div>
    <% end %>


    <%= form_with model: @comment, url: post_comments_path(@post), method: :post do |f| %>
      <div class="form-group">
        <%= f.label :comment, 'コメント' %>
        <%= f.text_area :comment, class: 'form-control' %>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-6 mx-auto">
            <%= f.submit '投稿する', class: 'btn btn-outline-secondary btn-block' %>
          </div>
        </div>
      </div>
    <% end %>

    <h2>コメント一覧</h2>
    <% @post.comments.each do |comment| %>
      <div class="card mb-3">
        <div class="card-body">
          <%= simple_format(comment.comment, sanitize: true, class: 'm-0') %>
        </div>
        <div class="card-footer">
          <div class="d-block d-lg-flex justify-content-between">
            <div>
              <%= comment.user.name %>
            </div>
            <div>
              <small class="text-black-50">
                <%= comment.created_at.in_time_zone('Asia/Tokyo').strftime('%Y年%m月%d日 %H時%m分') %>
              </small>
            </div>
            <% if comment.user == current_user %>
              <div>
                <%= link_to '削除', admin_post_comment_path(@post, comment),
                                    class: 'btn btn-outline-danger btn-sm',
                                    method: :delete,
                                    data: {confirm: '本当に削除しても良いですか？'}%>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>